.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.logo {
  width: 30%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.info{
  margin-top: 30px;
  padding: 10px;
  background-image: url("https://raw.githubusercontent.com/Mnaiara22/believe-react/master/public/images/fondo.avif");
  background-size: cover;
  
}

ul{ 
  padding: 50px;
  margin: 80px;
  background-color: #ffb2b8b9;
  list-style:none;      
}

.cardContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
